<launch>
  <node name="ctrl_node" pkg="quadruped_ctrl_ros" type="ctrl_node" output="screen">
    <rosparam command="load" file="$(find quadruped_ctrl_ros)/launch/configs/ctrl.yaml" />
  </node>

  <!-- <node name="keyboard_cmd" pkg="quadruped_ctrl_ros" type="keyboard_cmd" output="screen">
    <rosparam command="load" file="$(find quadruped_ctrl_ros)/launch/configs/ctrl.yaml" />
  </node> -->

  <!-- Include the joy.launch file -->
  <include file="$(find quadruped_ctrl_ros)/launch/joy.launch" />
</launch>

